/* Documentation styles for
 * CSS Toggle Switch
 */

@import "compass";
@import "utils";

$grey1: #1A1A1A;
$grey2: #343434;
$color1: #276774;
$color2: #338A9B;
$color3: #3FACC1;

$white: #fff;

body {
	background-color: $grey2;

	color: $white;
}

h1,
h2,
h3,
h4,
h5 {
	color: $white;
}

.row {
	max-width: emCalc(830);
}

/* Browse Happy prompt
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Header
 */

header {

	h1 {
		margin: 0;

		font-size: 2.5em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: -.03em;
	}

	.description {
		font-size: emCalc(12);
	}

	.top-menu {
		font-weight: bold;
		font-size: emCalc(14);
		text-transform: uppercase;
	}


}

/* Hero */

.hero-box {
	border: 0;
	background-color: $color2;
	color: $white;

	.hero-actions {
		margin: 0 -1.25em -1.25em;

		.button-group {
			width: 100%;
		}

		li {
			width: 50%;
			margin: 0;
		}

		a {
			width: 100%;
			border: 0;
			margin: 0;

			border-top: 1px solid $color3;
			background-color: $color2;

			@include box-shadow(none);

			&:hover {
				background-color: darken($color3, 5%);
			}
		}

		li:last-child a {
			border-left: 1px solid $color3;
		}
	}
}

.row.dependency-install {
	overflow: hidden;
	padding: emCalc(20);
	margin: emCalc(20) -1.25em 0;
	background-color: $color3;

	pre {
		margin: emCalc(8) 0;

		text-align: center;
	}
}
