/* General styles - Not needed by the switch */
body {
	background-color: #41464f;
	
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	
	text-shadow: 1px 1px 1px #191b1e;
}

.toggle {
	width: 300px;
}

/* Switch */
.toggle {
    position: relative;
    display: block;
	padding: 5px 0;
	
	text-align: right;
}

.toggle input {
    position: absolute;
	top: -9999px;
}

.toggle input:focus + span {
	outline: 1px dotted #fff;
}

/* Track */
.toggle:before {
	content: '';
	
	position: absolute;
	top: 0;
	left: 50%;	
	
	z-index: 0;
	
	width: 50%;
	height: 100%;
	
	padding: 2px;
	background-color: #2d3035;
	
	border-radius: 3px;	
	
	box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(255, 255, 255, 0.2);
}
	
/* Text labels */
.toggle:after {
	position: relative;
	z-index: 2;
	
	float: right;
	width: 50%;
	margin-left: 20px;
	padding: 2px 0;
	
	content: attr(data-on) "\a" attr(data-off);
	white-space: pre;
		
	text-align: center;
		
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

.toggle span {
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 1;
	width: 25%;
	height: 100%;
	
	margin: 2px;
	
	background-color: #70c66b;
	
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
	background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
	background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
	background-image:      -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
	background-image:         linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
	
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
	
	border-radius: 3px;
	
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.toggle input:checked + span {
	left: 75%;
}