/* Checkbox
 */

@mixin switch-light() {
  @include switch-shared();
  position: relative;
  overflow: visible;
  padding: 0;
  margin-left: size(100);

  /* Position the label over all the elements, except the slide-button (<a>)
  * Clicking anywhere on the label will change the switch-state
  */
  label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
  }

  /* Don't hide the input from screen-readers and keyboard access
  */
  input {
    position: absolute;
    opacity: 0;
    z-index: 5;

    &:checked ~ a {
      right: 0%;
    }
  }

  > span {
    position: absolute;
    left: size(-100);
    width: 100%;
    margin: 0;
    padding-right: size(100);
    text-align: left;

    span {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      display: block;
      width: 50%;
      margin-left: size(100);
      text-align: center;

      &:last-child {
        left: 50%;
      }
    }
  }

  a {
    position: absolute;
    right: 50%;
    top: 0;
    z-index: 4;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0;
  }

}
