/* Radio Switch
 */

@mixin switch-toggle() {
  @include switch-shared();
  position: relative;
  display: table;
  table-layout: fixed;

  /* For callout panels in foundation
  */
  padding: 0 !important;

  * {
    font-size: 1em;
  }

  input {
    position: absolute;
    opacity: 0;
  }

  input + label {
    position: relative;
    z-index: 2;
    display: table-cell;
    width: 50%;
    padding: 0 size(8);
    margin: 0;

    text-align: center;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
  }

  input:last-of-type:checked ~ a {
    left: 50%;
  }

  /* Generate styles for the multiple states */
  @for $i from 1 through 3 {
    $state: $i + 2;
    $width: 100 / ($i + 2);

    &.switch-#{$state} {
      label,
      a {
        width: $width * 1%;
      }
    }

    @for $j from 2 through ($i + 1) {
      &.switch-#{$state} input:checked:nth-of-type(#{$j}) ~ a {
        left: $width * ($j - 1) * 1%;
      }
    }

    &.switch-#{$state} input:checked:last-of-type ~ a {
      left: 100 - $width * 1%;
    }
  }

}
